*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15, 15, 15);
    color: rgb(157, 157, 140);
    padding: 1rem;
}

.section {
    border: 2px solid rgba(245, 245, 220, 0.2);
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    margin: 0.6rem 0;
    font-size: 0.8rem;

}

.actionHistory {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;

}

.addActionForm {
    margin-bottom: 0.8rem;

    & #last-input {
        display: inline;
    }
}