*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #040D12;
    color: #93B1A6;
    padding: 1rem;
    max-width: 80ch;
    margin-inline: auto;
}

h1 {
    color: #5C8374;
}

h2 {
    text-decoration: underline;
}

.section {
    border: 2px solid #183D3D;
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    margin: 0.6rem 0;
    font-size: 0.8rem;

}

.actionHistory {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;

}

.addActionForm {
    margin-bottom: 0.8rem;

    & #last-input {
        display: inline;
    }
}

.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0.6rem 0;

    &__stat {
        border: 1px solid #183D3D;
        border-radius: 10px;
        text-align: center;
        justify-self: center;
        width: 28ch;
        aspect-ratio: 1;
        padding: 1rem 0;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-weight: normal;
            font-size: 1.4rem;
            color: antiquewhite;
        }
    }
}